#!/bin/bash

#Includes
. $ALIASES/.chrome

#vim
alias vim='$VIM_BINARY -u $DOTFILES/.vimrc'
alias vi='$VIM_BINARY -u $DOTFILES/.vimrc'

alias my_sql='/usr/local/Cellar/mysql/5.6.26/support-files/mysql.server'

# Git handlers
alias gpushhead="git push origin HEAD"
alias gpullhead="git pull --rebase origin HEAD"
alias gpbeta="g pull origin beta"

# RLWrap
alias telnet="rlwrap telnet"
