#!/bin/bash

#Includes
. $ALIASES/.chrome
. $ALIASES/.docker

# Shortcut
alias c='clear'

# Ctags
alias ctags="`brew --prefix`/bin/ctags"

# VIM
alias nvim='nvim -u $DOTFILES/.nvimrc'
alias vim='nvim'
alias vi='vim'
alias v='vi'

alias my_sql='/usr/local/Cellar/mysql/5.6.26/support-files/mysql.server'

# Git handlers
alias gpushhead="git push origin HEAD"
alias gpullhead="git pull --rebase origin HEAD"
alias gpbeta="g pull origin beta"

# RLWrap
alias telnet="rlwrap telnet"

# Names -> ()
alias maven="mvn"
