#!/bin/bash

#Includes
. $FUNCTIONS/.javause
. $FUNCTIONS/.git_helpers
. $FUNCTIONS/.addGoAliases
. $FUNCTIONS/.github_create_repository

#Function to resource
function resource(){
    echo "Source $HOME/.dotfiles/.zshrc"
    source $HOME/.dotfiles/.zshrc
    echo "Ok"
}
