#!/bin/bash

#Includes
. $FUNCTIONS/.javause

#Function to add aliases to go for an page
function addGoAliases(){
    echo "alias go$1=\"cd `pwd`\"" >> $HOME/.goaliases  
    source $HOME/.zshrc
}

#Function to checkout for a feature branch
function gcfb(){
  g checkout feature/$1
}
